<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <link href="{% static 'chat/css/index.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'chat/css/bootstrap.css' %}" rel="stylesheet" >
  <link href="{% static 'chat/css/bootstrap.min.css' %}" rel="stylesheet">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Peak</title>
</head>
<body>
      {% block body %}
      {% endblock %}
</body>
</html>
