<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link href="{% static 'chat/index.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'chat/bootstrap.css' %}" rel="stylesheet">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Peak</title>
</head>
<body>

<div class="container-fluid">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand" id="logo" href="{% url 'index' %}"><h2>Peak</h2></a>
    <a class="navbar-brand" href="https://github.com/AmaanSingh">
    <img src="{% static 'chat/svg/github.svg' %}" width="30" height="30"></a>
  </nav>
</div>
<header>
<div class="jumbotron bg-white">
  <div class="row">
  <div class="col-lg-6">
    <h1 class="display-4" id=forgotten>Forgot your Password? That's Ok</h1>
    <hr color="#AF6AFF" width="10%" align="left">
    <p class="lead">Fill out the form on your right to help us help you retrieve your account.</p>
  </div>
  <div id="link" class="col-lg-6">
  <form class="px-4 py-5">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name3" id="name3" placeholder="Full Name" required>
    </div>
    <button type="submit" class="btn btn-primary">Send Login Link</button>
  </form>
    <div id= links class="dropdown-divider"></div>
      <a class="dropdown-item" id=log href="{% url 'index' %}">Have an account? Log in</a>
      <a class="dropdown-item" id=new href="{% url 'signup' %}">New around here? Sign up</a>
  </div>
  </div>
</div>
</header>
<footer>
<div id="footer">
  <div class="container text-center">
    <p>&copy; 2018 Peak. Design by <a href="https://www.instagram.com/amaansingh160/" rel="nofollow">Amaan Singh</a></p>
  </div>
</div>
</footer>
</body>
</html>
